{
  "apps": {
    "http": {
      "servers": {
        "example": {
          "listen": [":443"],
          "routes": [
            {
              "handle": [
                {
                  "handler": "reverse_proxy",
                  "upstreams": [{ "dial": "signal:8080" }]
                }
              ]
            }
          ]
        }
      }
    }
  }
}
